
body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}


a {
    text-decoration:none;

}
/*Header*/



.header-logo {
       color: #4D5AE5;
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        

}

.header-logo-part {
    color: #2E2F42;
}

.nav-item {
        color:#2E2F42;
        font-family:'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height:1.5 ;
        letter-spacing: 0.02em;
        text-align: left;

}
.link:hover,
.link:focus {
    background-color: #404bbf;
}
  



.address-item {
       color:#434455;
      font-family: 'Roboto',sans-serif;
       font-style:normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;

}





 /*Section 1*/

.color-box {
    background-color:#2E2F42; 
    line-height: 1.07;
}

.main-basis {
        color:#FFFFFF;
        font-family:'Roboto',
            sans-serif;
        font-size: 56px;
        font-weight: 700;
        
        letter-spacing: 0.02em;
        text-align: center;
        
}


.button {
        background-color: #4D5AE5;
        color:#FFFFFF;
        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height:1.5;        letter-spacing: 0.04em;
        cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}


/*Section 2*/
.description {
    background-color:#FFFFFF ;
}


.description-list-head {
        
        font-family:'Roboto',
        sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        
        
}

.description-list-content {
    color: #434455;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
      
}







.our-team {
    background: #F4F4FD;
    color:#2E2F42;
    font-family: 'Roboto',
        sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;

    
   
}

.team {
        color: #2e2f42;
        font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: center;
            
}



.teams {
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.menu-teams {

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;

}



.portfolio {
    font-size: 36px;
    line-height: 1.11; 
    text-transform: capitalize;
        font-family: 'Roboto',
            sans-serif;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-align: center;


}

 .portfolio-name {

    color: #2e2f42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
}
.portfolio-txt {
   color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Footer*/

.box-footer {
    background-color:#2E2F42;
}



.footer-txt {
    color:#F4F4FD;
   
    font-family: 'Roboto',
        sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height:1.5;
        letter-spacing: 0.02em;
        text-align: left;

}

.footer-logo {
color:#4d5ae5;
text-transform: uppercase;
font-family:"Raleway",
    sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;

}
.footer-logo-part {
    
color: #F4F4FD;
   font-family:"Raleway",
    sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height:1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
