
body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}


a {
    text-decoration:none;

}


.header-logo {
       
        color: #2E2F42;
        font-family: 'Raleway',
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        

}
.header-logo-part {
    
            color: #4D5AE5;
            font-family: 'Raleway',
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
}

.menu-link {
       color:#2e2f42;
       font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.menu-link:hover {
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-item-link:hover,
.menu-item-link:active,
.menu-item-link:focus {

      color: #404bbf;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
}




.address {
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
color: #404bbf;
color: #404bbf;

}

.description {
    
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}

.description-list-head {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #434455;
    ;
    width: 270px;
    height: 75px;

        
}

.description-list-content {
    
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}







.our-team {
    background: #F4F4FD;
    align-content: center;
    display: flex;
   
}

.team {
        color: #2e2f42;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}



.team_1 {
background: ur1(<path-to-image›),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;

}
.team_2 {
background: ur1(<path-to-image>), lightgray -335.01px -22.055px / 256.162% 173.614% no-repeat;
}

.team_3 {
background: 
ur1 (spath-to-image›),
    Olightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
   
}

.team_4 {

    background: ur1 (<path-to-image»),
            lightgray 200px - 7.128px / 251.515% 170.277% no-repeat;
}





.portfolio {

}
.portfolio-list {
width: 360px;
height:3 00px;
flex-shrink: 0;


}
 .portfolio-name {

    color: #2e2f42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-txt {
   color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;


}


 
/* Footer*/
.page-footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-txt {
    color: #F4F4FD;
    display: flex;
    align-content: center;
    justify-content: space-between;
}


.footer-logo {

    color: #F4F4FD;
        
            font-family: Raleway;
             font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
            text-transform: uppercase;

}
.footer-logo-part {
        color: #4D5AE5;
             font-family:'Raleway'sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
            text-transform: uppercase;
}

