
body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}


a {
    text-decoration:none;

}
/*Header*/

.header-logo {
        color: #2E2F42;
        font-family: 'Raleway',
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        

}
.header-logo-part {
        color: #4D5AE5;
            
            font-family: 'Raleway',
                sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-align: left;
}

.nav-item {
        color: #2E2F42;
        font-family:'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;

}





.address-item {
       color:#434455;
      font-family: 'Roboto',sans-serif;
       font-style:normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;

}





 /*HERO*/

.color-box {
    background-color:#2E2F42; 
    width: 1440px;
     height: 600px;
      top: 72px;
}

.main-basis {
        color:#FFFFFF;
        font-family:'Roboto',
            sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        width: 496px;
         height: 120px;
          top: 260px;
           left: 472px;
}


.button {
        background-color: #4D5AE5;
        color:#FFFFFF;
        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        width: 169px;
        height: 56px; top: 428px; left: 636px; padding: 16px, 32px, 16px, 32px;border-radius: 4px;
        gap: 10px;
        cursor: pointer;
}





.description-section {
    
         width: 1128px;
         height: 104px;
         top: 792px;
         left: 156px;
}

.description-list-head {
        font-weight: normal;
        font-family:'Roboto',
            sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 264px;
         height: 24px;

        
}

.description-list-content {
    color: #434455;
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        width: 264px;
        height: 72px;
}







.our-team {
    background: #F4F4FD;
    color:#2E2F42;
    align-content: center;
    display: flex;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    
   
}

.team {
        color: #2e2f42;
        font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: center;
            
}



.teams {
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.menu-teams {
background-color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;

}



.portfolio {

}
.portfolio-list {
width: 360px;
height:3 00px;
flex-shrink: 0;


}
 .portfolio-name {

    color: #2e2f42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-txt {
   color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Footer*/

.box-footer {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
    top: 2988px;
}



.footer-txt {
    color: #F4F4FD;
    width: 264px;
     height: 72px;
      top: 3128px;
     left: 156px;
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;

}

.footer-logo {
color: #F4F4FD;
width: 1440px;
height: 312px;
top: 2988px;
text-transform: uppercase;
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;

}
.footer-logo-part {
    color: #4D5AE5;
 
   font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}
